# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go
go.work
go.work.sum
vendor

# Code coverage
coverage.txt

# IDE
.idea

# build files
.bin
flow
flow*.tar.gz
dist
completions/

