.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.welcome__logo {
  filter: drop-shadow(
    0 0 20px color-mix(in srgb, var(--mantine-color-pink-0) 70%, transparent)
  );
}

.welcome__title {
  letter-spacing: 0.05em;
  color: var(--mantine-color-other-colors-body);
}

.welcome__subtitle {
  color: var(--mantine-color-other-colors-body);
}

.welcome__button {
  width: 100px;
  background-color: var(--mantine-color-primary-0);
  color: var(--mantine-color-other-colors-bodyLight);
}

.welcome__button:hover {
  background-color: var(--mantine-color-primary-1);
}

/* Override anchor styles */
.welcome :global(.mantine-Anchor-root) {
  color: inherit;
}

.welcome :global(.mantine-Anchor-root:hover) {
  color: inherit;
  text-decoration: none;
}
