form:
  - key: Color
    prompt: What is your favorite color?
    default: blue
artifacts:
  - srcName: message.txt
    dstName: message.txt
template: |
  visibility: private
  namespace: examples
  executables:
    - verb: run
      name: {{ form["Color"] }}-msg
      description: Created from a template in {{ workspace }}
      exec:
        cmd: cat message.txt
